<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <p id="random_number_display">Hello, World!</p>
    <button id="generate_number_button">Generate Random Number</button>
    <button id="log_toto_button">Log Toto</button>
    <button id="start_bot">Start Menestrel</button>
    <button id="stop_bot">Stop Menestrel</button>
    <button id="join_voice">Join Vocal</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
